<!-- wp:template-part {"slug":"header","theme":"construction-blocks","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"construction-blocks/banner"} /-->

<!-- wp:pattern {"slug":"construction-blocks/information"} /-->

<!-- wp:pattern {"slug":"construction-blocks/our-services"} /-->

<!-- wp:pattern {"slug":"construction-blocks/counter-section"} /-->

<!-- wp:pattern {"slug":"construction-blocks/our-projects"} /-->

<!-- wp:pattern {"slug":"construction-blocks/careers-jobs"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"construction-blocks","tagName":"footer","className":"custom-footer-class"} /-->